.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--btn-background-portfolio);
}

.features-title {
  margin-bottom: 10px;
}

.features_list_item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features-description {
  @include font($fs: 14px, $lh: 24px);
  color: var(--description-color);
  min-width: 270px;
}
