.header {
  border: 1px solid var(--header-border-color);
}

.header-wrepper {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.navigation-list-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation-list {
  display: flex;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition: color var(--transition-funktion);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* header address*/

.address-list-header {
  display: flex;
  margin-left: auto;
}

.contacts-list-item {
  :not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--description-color);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-funktion);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--transition-funktion);

  .contacts-link:hover &,
  .contacts-link:focus & {
    fill: var(--accent-color);
  }
}
