.logo-header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-right: 92px;
}

.logo {
  font-family: var(--secondary-font);
  @include font($fs: 26px, $fw: 700, $lh: 31px);
  color: var(--accent-color);
}

.top-logo {
  color: var(--logo-top-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.bottom-logo {
  color: var(--accent-color-text);
}
